.recipe-details {
	width: 100%;
	text-align: left;
	background-color: white;
	border-radius: 4px;
	overflow-y: auto;
	padding: 48px {
		top: 24px;
	}
}

.recipe-actions {
	display: flex;
}

.recipe-back-button {
	justify-self: flex-start;
}

.horizontal-filler {
	flex: 1 1 auto;
}

.recipe-delete-button {
	color: var(--mdc-theme-error);
}

.recipe-name {
	text-transform: capitalize;
}

.recipe-description {
	margin-bottom: 8px;
}

.recipe-step,
.recipe-ingredient {
	margin-bottom: 10px;
}
