.wordcloud {
	padding: 24px;
	margin-bottom: 24px;
	width: 100%;
	max-width: 100%;
	height: calc(100% - 24px);
	overflow: hidden;
}

.wordcloud-svg {
	max-height: calc(100% - 41px - 24px);
	height: calc(100% - 41px - 24px);
	display: flex;
	div {
		max-width: 100%;
		max-height: 100%;
	}
}
