.search-history {
	display: flex;
	justify-content: flex-start;
	flex-flow: column;
	max-width: calc(100% - 2 * 48px);
	width: calc(100% - 2 * 48px);
	overflow-y: auto;
	padding: 48px {
		top: 24px;
	}
}

.history-searchvalue {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: calc(100% - 56px - 90px);
	max-height: 24px;
}
