.toggle-direction {
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transform: rotate(0deg);
	outline: none;
	&.inverted {
		transform: rotate(180deg);
	}
	&:focus,
	&:active,
	&::-moz-focus-inner {
		border: none;
	}
}

.sort-field-select {
	width: 250px;
}
