.search-and-filters-wrapper {
	display: flex;
	flex-flow: row nowrap;
	flex: 1 1 auto;
	min-width: 600px;
	border-radius: 4px;
	max-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: white;
}

.filters-wrapper {
	display: flex;
	justify-content: center;
	padding: 24px;
	margin-top: 16px;
	flex: 1 1 auto;
	min-width: 200px;
}

.search-wrapper {
	padding: 24px;
	flex: 3 1 auto;
	min-width: 300px;
}

.searchfield-wrapper {
	margin-bottom: 24px;
	display: flex;
	justify-content: center;
}

.sort-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.sort-field {
}

.fab-add-recipe {
	position: absolute;
	bottom: 100px;
	right: 16px;
}
