.login {
	display: flex;
	flex-flow: column nowrap;
	justify-items: center;
	align-items: center;
	width: 100%;
	padding: 48px {
		top: 24px;
	}
}

.actions {
	width: 100%;
	max-width: 250px;
}

.login-form {
	text-align: left;
	max-width: 250px;
}

.login-error-message {
	color: var(--mdc-theme-error);
	margin-bottom: 16px;
}

.login-title {
	margin-bottom: 24px;
}

.login-field {
	margin-bottom: 16px;
}

.submit-button-wrapper {
	margin-top: 16px;
	button {
		width: 100%;
		height: 48px;
		font-size: 1.2em;
	}
}
