.main-container {
	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	background-color: #e9e9e9;
}

.header-button {
	color: rgba($color: white, $alpha: 0.87) !important;
}

.login-info {
	display: flex; 
	flex-flow: row nowrap; 
	align-items: center;
}

.username {
	display: flex;
	align-content: center;
	margin-right: 16px;
}

.username-text {
	margin-left: 8px;
}

// .title-logo {
// }

.content-wrapper {
	position: relative;
	top: 84px;
	width: 60vw;
	min-width: 600px;
}

.content {
	display: flex;
	justify-content: center;
	max-height: calc(100vh - 84px - 48px);
	height: calc(100vh - 84px - 48px);
	background-color: white;
	border-radius: 4px;
	width: 60vw;
	min-width: 600px;
}

// .search-content {
// }

.progress-bar {
	position: absolute;
	top: 64px;
	width: 100%;
}
