@import "./text.scss";

* {
	margin: 0;
	padding: 0;
}

body,
html,
#root,
.theme-provider {
	max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
}

// Fix for rmwc inputs not using theme
.mdc-text-field--focused:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid)
	.mdc-floating-label {
	color: var(--mdc-theme-primary) !important;
}

.mdc-select--focused:not(.mdc-select--disabled) .mdc-floating-label {
	color: var(--mdc-theme-primary) !important;
}
